BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "inkey0[0]" SITE "50" ;
LOCATE COMP "inkey0[1]" SITE "48" ;
LOCATE COMP "inkey0[2]" SITE "49" ;
LOCATE COMP "inkey0[3]" SITE "47" ;
LOCATE COMP "outr0[0]" SITE "52" ;
LOCATE COMP "outr0[1]" SITE "55" ;
LOCATE COMP "outr0[2]" SITE "54" ;
LOCATE COMP "outr0[3]" SITE "56" ;
LOCATE COMP "clk0" SITE "142" ;
LOCATE COMP "RS0" SITE "93" ;
LOCATE COMP "RW0" SITE "94" ;
LOCATE COMP "EN0" SITE "91" ;
LOCATE COMP "outword0[7]" SITE "77" ;
LOCATE COMP "outword0[6]" SITE "82" ;
LOCATE COMP "outword0[5]" SITE "81" ;
LOCATE COMP "outword0[4]" SITE "84" ;
LOCATE COMP "outword0[3]" SITE "83" ;
LOCATE COMP "outword0[2]" SITE "86" ;
LOCATE COMP "outword0[1]" SITE "85" ;
LOCATE COMP "outword0[0]" SITE "92" ;
LOCATE COMP "cdiv00[3]" SITE "60" ;
LOCATE COMP "cdiv00[2]" SITE "58" ;
LOCATE COMP "cdiv00[1]" SITE "59" ;
LOCATE COMP "cdiv00[0]" SITE "57" ;
LOCATE COMP "reset0" SITE "42" ;
LOCATE COMP "wr0" SITE "98" ;
LOCATE COMP "inFlagcc0" SITE "143" ;
LOCATE COMP "outFlagcc0" SITE "138" ;
LOCATE COMP "inFlagk0" SITE "140" ;
LOCATE COMP "outFlagk0" SITE "139" ;
LOCATE COMP "outFlagw0" SITE "132" ;
LOCATE COMP "oscout0" SITE "141" ;
LOCATE COMP "outContRead0[0]" SITE "27" ;
LOCATE COMP "outContRead0[1]" SITE "28" ;
LOCATE COMP "outContRead0[2]" SITE "25" ;
LOCATE COMP "outContRead0[3]" SITE "26" ;
LOCATE COMP "outContWrite0[0]" SITE "23" ;
LOCATE COMP "outContWrite0[1]" SITE "24" ;
LOCATE COMP "outContWrite0[2]" SITE "21" ;
LOCATE COMP "outContWrite0[3]" SITE "22" ;
LOCATE COMP "outcc0[0]" SITE "133" ;
LOCATE COMP "outcc0[1]" SITE "34" ;
LOCATE COMP "outcc0[2]" SITE "35" ;
LOCATE COMP "outcc0[3]" SITE "32" ;
LOCATE COMP "outcc0[4]" SITE "33" ;
