.flex-container{
	display: flex;
	justify-content: center;
	align-items: center;
}
#contenedor-pila{
	display: flex;
	justify-content: center;
	align-items: center
}
#contenedor-cola{
	display: flex;
	justify-content: center;
	align-items: center
}
#pila{
	flex-direction: column-reverse;
}
#cola{
	flex-direction: row;
}
.flex-container > div {
	background-color: #f1f1f1;
	width: 50px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 10px;
}