<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registro_Ser</servlet-name>
        <servlet-class>bd.Registro_Ser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Piot_Ser</servlet-name>
        <servlet-class>Logica.Piot_Ser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarTweet</servlet-name>
        <servlet-class>Logica.borrarTweet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro_Ser</servlet-name>
        <url-pattern>/Registro_Ser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Piot_Ser</servlet-name>
        <url-pattern>/Piot_Ser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarTweet</servlet-name>
        <url-pattern>/borrarTweet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
