#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1682R.
#

# Period Constraints 
#FREQUENCY NET "RA00/D00/sclk_0" 2.1 MHz;
#FREQUENCY NET "RA00/DO1/clk0_c" 2.1 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
