NET "CLK" LOC = "E3" | IOSTANDARD = "LVCMOS33";
NET "CLR" LOC = "J15" | IOSTANDARD = "LVCMOS33";

NET "DISPLAY<0>" LOC = "L18" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<1>" LOC = "T11" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<2>" LOC = "P15" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<3>" LOC = "K13" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<4>" LOC = "K16" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<5>" LOC = "R10" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<6>" LOC = "T10" | IOSTANDARD = "LVCMOS33";

